---
import Layout from '../layouts/Layout.astro';
import Window from '../components/Window.astro';
import { Icon } from 'astro-icon';
import { projects, skills, jobs } from '../utils/data.json';
---
<script>
  const observer = new IntersectionObserver((entries) => {
    entries.forEach((entry) => {
      if (entry.isIntersecting) {
        entry.target.classList.add('show');
      } else {
        entry.target.classList.remove('show');
      }
    });
  });

  const hiddenElements = document.querySelectorAll('.hidden-section');
  hiddenElements.forEach((el) => observer.observe(el));
</script>
<Layout>
  <div class="flex flex-col items-center w-screen">


    <main>
      <section class="h-screen w-full mb-10 flex flex-col gap-8 justify-center items-center text-center">
        <Window width="w-full items-center">
          <h1 class="text-4xl md:text-6xl text-text text-center drop-shadow-none">
            Ethan Okamura
          </h1>
          <h2 class="text-2xl md:text-3xl text-primary text-center">SOFTWARE DEVELOPER</h2>
          <div class="grid w-full text-center items-start mx-auto gap-4 p-6">
            <div class="grid gap-4 text-xs text-text3 justify-center">
              <span>ethanokamura3@gmail.com</span>
              <span>(831)-419-0778</span>
            </div>
          </div>
        </Window>
        <div>
          <p class="text-2xl font-bold text-text">Engineering <b class="text-green-300 drop-shadow-greenglow">Efficient Solutions</p>
            <p class="text-2xl font-bold text-text"></b> For <b class="text-red-400 drop-shadow-redglow">Complex Problems</b></p>
        </div>
        <div class="flex gap-4 opacity-30 items-center">
          <div class="w-4 h-4 animate-bounce"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" d="m12 20l6-6m-6 6l-6-6m6 6V9.5M12 4v2.5"/></svg></div>
          <span>Scroll Down to See Content</span>
          <div class="w-4 h-4 animate-bounce"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" d="m12 20l6-6m-6 6l-6-6m6 6V9.5M12 4v2.5"/></svg></div>
        </div>
      </section>

      <section>
        <h1>About Me:</h1>
        <div class="flex justify-center flex-wrap gap-4">
          <Window width="hidden-section w-full">
            <h2>Ethan Okamura:</h2>
            <p>My name is Ethan Okamura. I am a Santa Cruz local and full-time student at the University of California, Santa Cruz. Currently, I am completing my degree in computer science with the end goal of obtaining a master’s degree alongside practical experience in software engineering. As the creator of Perfect Line, I aim to be a mentor and teacher, providing affordable resources for people of all backgrounds. With a decade of programming expertise and a background in teaching, my goal is to instill a love for programming in anyone who wants to take these courses while they have fun creating their dream projects. I am committed to the continuous journey of learning and higher education and strive to offer my students comprehensive knowledge and support. </p>
            <p>I have more projects in the works that I will be happy to announce soon! Feel free to contact me and connect.</p>
          </Window>
      </section>

      <section>
        <h1>Skills:</h1>
        <div class="flex flex-wrap justify-start gap-4">
          {skills.map((skill: any) =>
            <div class="hidden-section drop-shadow-black flex gap-2 items-center p-2 rounded-lg bg-gradient-to-br from-secondary to-background border-4 border-secondary">
              <div class="w-8">
                <Icon name={skill.icon}/>
              </div>
              <p class="pr-2 text-2xl font-bold">{skill.title}</p>
            </div>
          )}
        </div>
      </section>

      <section>
        <h1>Education:</h1>
        <div class="flex justify-center flex-wrap gap-4">
          <Window width="hidden-section w-64">
            <h2>Cabrillo College:</h2>
            <span>2021-2024</span>
            <p>Transfered With Honors For Computer Science</p>
          </Window>
          <Window width="hidden-section w-64">
            <h2>UC Santa Cruz:</h2>
            <span>2024-2026</span>
            <p>BS in Computer Science</p>
          </Window>
        </div>
      </section>

      <section>
        <h1>My Projects:</h1>
        {projects.map((project: any) =>
          <Window width="hidden-section w-full">
            <h2 class="text-text drop-shadow-none">{project.title}</h2>
            <span>{project.description} ({project.date})</span>
            <p>{project.content}</p>
            { project.link ? <a target="_blank" href={project.link} class="text-primary underline">Link</a> : <></>}
          </Window>
        )}
      </section>
<!--
      <section>
        <div class="flex flex-col">
          <h1 class="w-fit p-4 flex border-b-4 border-primary ">Job Experience:</h1>
          <div class="h-8 border-l-4 border-primary drop-shadow-glow"></div>
          {jobs.map((job: any, index: number) =>
            <>
              { index != jobs.length - 1 ?
                <div class="flex gap-4 items-start border-l-4 border-primary">
                  <i class="w-16 border-r-4 border-y-4 border-primary drop-shadow-glow text-primary rounded-r-lg p-2"><Icon name={job.icon}/></i>
                  <article class="hidden-section">
                    <h2 class="text-primary drop-shadow-glow">{job.title}</h2>
                    <span>{job.position} ({job.date})</span>
                    <p>{job.desc}</p>
                  </article>
                </div>
                <div class="h-8 border-l-4 border-primary"></div>
              :
                <div class="flex gap-4 items-start">
                  <i class="w-16 border-4 border-primary drop-shadow-glow text-primary rounded-r-lg rounded-bl-lg p-2"><Icon name={job.icon}/></i>
                  <article class="hidden-section">
                    <h2 class="text-primary drop-shadow-glow">{job.title}</h2>
                    <span>{job.position} ({job.date})</span>
                    <p>{job.desc}</p>
                  </article>
                </div>
              }
            </>
          )}
        </div>
      </section> -->
    </main>
  </div>
</Layout>