---
import Layout from '@layouts/Layout.astro';
import Icons from '@components/Icons.astro';
import Card from '@components/Card.astro';
import Tag from '@components/Tag.astro';
import Block from '@components/Block.astro';
import { Icon } from 'astro-icon/components'
import { projects, skills } from '@utils/data.json';
---
<Layout>
  <section class="h-screen justify-center items-start flex flex-col py-20 gap-10">
    <div class="mx-auto text-center">
      <div>
        <h1 class="text-7xl md:text-9xl lg:text-[13rem]">Ethan</h1>
        <h1 class="text-7xl md:text-9xl lg:text-[13rem]">Okamura</h1>
      </div>
      <div class="flex gap-1 items-center">
        <p class="text-md md:text-3xl lg:text-6xl text-text2 max-w-fit inline-block animate-typing overflow-hidden whitespace-nowrap w-fit">I build software to make my life easier.</p>
        <div class="animate-blink bg-text2 h-4 w-1 md:h-8 lg:h-12 md:w-2 lg:w-4"></div>
      </div>
      <Icons/>
    </div>
  </section>
  <Block title='Tools I use:'>
    <div class="flex flex-wrap justify-center gap-4 max-w-2xl">
      {skills.map((skill: any) =>
      <Tag>
        <Icon name={skill.icon} size={48}/>
        <p class="pr-2 text-xl font-semibold">{skill.title}</p>
      </Tag>
    )}
  </Block>
  <Block title='My Education:'>
    <div class="grid gap-10">
      <div>
        <h2>University of California, Santa Cruz</h2>
        <span>2024-2026</span>
        <p>BS in Computer Science</p>
      </div>
      <div>
        <h2>Cabrillo College</h2>
        <span>2021-2024</span>
        <p>Studied Mathematics and Computer Science</p>
      </div>
    </div>
  </Block>
  <Block title='My Projects:'>
    {projects.map((project: any) =>
      <Card>
        <div class="grid gap-8">
          <div>
            <h2>{project.title}</h2>
            { project.link ? <a target="_blank" href={project.link} class="text-primary drop-shadow-glow text-lg">{project.linktitle}</a><br/> : <></>}
            <span>{project.description} ({project.date})</span>
          </div>
          
          <div class="grid gap-4">
            { project.content.map((paragraph: any) => <p>{paragraph}</p>) }
          </div>
  
          <div class="flex flex-wrap justify-start gap-4">
            {project.skills.map((skill: any) =>
            <Tag>
              <Icon size={32} name={skill.icon}/>
              <p class="pr-2 text-lg font-semibold">{skill.title}</p>
            </Tag>
            )}
          </div>
        </div>
      </Card>
    )}
  </Block>
</Layout>
